.container {
	display: flex;
	flex-direction: row;
	min-height: 100%;
}
.leftPanel {
	display: flex;
	justify-content: center;
	min-height: 100%;
	flex:1;
}
.mainPanel {
	display: flex;
	flex:3;
	min-height: 100%;
	padding-left: 40px;
	background-color: hsl(260deg 20% 97.06%);
}
.MainPanelContainer {
	display: flex;
	flex-direction: column;
}
.leftPanelContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	row-gap: 60px;
	align-items: center;
}
.citySearchBlock {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
}
.label {
	display: flex;
	font-size: x-large;
}
.TempbigLabel {
	display: flex;
	font-size: 70px;
}
.bigImage {
	display: flex;
	height: 200px;
	width:200px;
}
.searchBoxImage {
	display: flex;
	height:10px;
}
.smallImage {
	display: flex;
}
.searchBoxInput {
	display: flex;
}
.todayInfoContainer {
	display: flex;
	flex-direction: column;
}
.todayInfoContainerRow {
	display: flex;
	flex-direction: row;
}
.weekCarouseleContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 20px;
}
.oneDayWeatherBox {
	gap:17px;
	height: 200px;
	width: 150px;
	display: flex;
	flex-direction: column;
	border: 1px white solid;
	background-color: white;
	border-radius: 10px;
	-webkit-box-shadow: -2px -2px 9px -3px rgba(66, 68, 90, 1);
	-moz-box-shadow: -2px -2px 9px -3px rgba(66, 68, 90, 1);
	box-shadow: -2px -2px 9px -3px rgba(66, 68, 90, 1);
	align-items: center;
	justify-content: center;
}
.dayOfWeekLabel {
	display: flex;
	justify-content: center;
}
.dayOfWeekImage {
	display: flex;
	height: 70px;
	width: 70px;
}
.dayOfWeekTempLabel{
	display: flex;
	justify-content: center;
}

.highlitesPanel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap:40px 50px;
	justify-content: center;
	padding: 10px calc((100% - (255px * 5)) / 2);
}
.highliteBox {
	display: flex;
	flex-direction: column;
	border: 1px white solid;
	align-items: center;
	align-content: center;
	flex: 0 0 30%;
	background-color: white;
	border-radius: 20px;
	-webkit-box-shadow: -2px -2px 9px -3px rgba(66, 68, 90, 1);
	-moz-box-shadow: -2px -2px 9px -3px rgba(66, 68, 90, 1);
	box-shadow: -2px -2px 9px -3px rgba(66, 68, 90, 1);
}
.highliteLabel {
	display: flex;
	justify-content: center;
}
.highliteImg {
	display: flex;
	height: 250px;
}

.titleText {
	display: flex;
	position: relative;
	font-size: 2em;
	letter-spacing:1px;
	font-family: sans-serif;
	display:table;
	margin:10px;
	cursor:pointer;
	transition:.6s;
  }
  .titleText:before,
  .titleText:after {
	content:attr(data-text);
	transition:.6s;
  }
  .titleText:before {
	left: 0;
	top: 0;
	position: absolute;
	z-index:-1;
	text-shadow:
	 0px 0px,
	 0px 0px,
	 0px 0px,
	 0px 0px,
	 0px 0px,
	 0px 0px,
	 0px 0px,
	 0px 0px,
	 0px 0px,
	 0px 0px;
	-webkit-mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(0,0,0,0.5) 0 6px);
			mask:repeating-linear-gradient(45deg, transparent 0 3px, rgba(0,0,0,0.5) 0 6px);
  }
  .titleText:hover {
	transform:translate(-10px,-10px);
  }  
  .titleText:hover:before {
	text-shadow:
	 1px 1px,
	 2px 2px,
	 3px 3px,
	 4px 4px,
	 5px 5px,
	 6px 6px,
	 7px 7px,
	 8px 8px,
	 9px 9px,
	 10px 10px;
  }

  .citySmallImage {
	height: 150px;
	border-radius: 15px;
  }

  * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}.search-box{
	width: fit-content;
	height: fit-content;
	position: relative;
  }
  .input-search{
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: #22a6b3;
	padding-right: 40px;
	color:black;
  }
  .input-search::placeholder{
	color: black;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
  }
  .btn-search{
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color:#ffffff ;
	background-color:transparent;
	pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .fa-search:before {
	content: "\f002";
}
  
